:root {
  --app-height: 100%;
}

.messageInputBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--app-height) - 61px);
  padding: 0 20px;
  overflow-y: auto;
  background: #fff;
}
.inputMainBody {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-top: 20px;
}
.inputLabel {
  font-family: Montserrat-SemiBold;
  font-size: 11px;
  color: #666666;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 15px 0 2px 18px;
}
.inputBody,
.textareaBody {
  display: flex;
  padding: 0 26px;
  width: -webkit-fill-available;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #404b46;
  line-height: 1.2;
  padding: 0 18px;
  height: 48px;
  border: 0;
}
.inputBody:focus,
.textareaBody:focus {
  outline: transparent;
}
.textareaBody {
  min-height: 130px;
  padding-top: 14px;
  padding-bottom: 15px;

  overflow: auto;
  resize: vertical;
}
.buttonContainer {
  margin: 20px 0;
  width: 100%;
  border-radius: 20px;
  line-height: 1.5;
  background: #9ed8eb;
  color: #fff;
  cursor: pointer;
}
.buttonContainer > div {
  text-align: center;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: 1rem;
  font-family: Montserrat-Regular;
}
.errorContainer {
  align-items: center;
  border-radius: 7px;
  color: #d42c58;
  display: flex;
  height: 20px;
  margin-top: 20px;
  width: 100%;
}
.errorContainer > span {
  padding-left: 12px;
}
