:root {
  --app-height: 100% - 61px;
}

.mainBody {
  background: url("../../assets/image/wedding_invitation.jpg") no-repeat center
    fixed;
  background-size: contain;
  /* flex: 1; */
  /* height: calc(100vh - 61px); */
  height: var(--app-height);
}
